/*------------------------FUENTE LETRA----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*---------------------------GENERAL-----------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
a{
    color: unset;
    text-decoration: none;
}
ul{
    list-style: none;
}

/*---------------------------COLORES----------------------*/
:root{
    /*negreo,grises,celeste*/
    --negro: #0D0D0D;
    --gris-negro: #262626;
    --gris: #595959;
    --gris-blanco: #8C8C8C;
    --gris-blanco-claro: #A6A6A6;
    --blanco: #FFFFFF;
    --celeste: #C4ECFF;
    --celeste-claro: #DEF5FF;
    --celeste-ocuro: #78A0B3;
}

/*---------------HEADER--------------------*/
/*-BARRA NAVEGACIÓN-*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--celeste-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barra-navegacion{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-navegacion > a{
    position: relative;
    font: 1.1em;
    color: var(--negro);
    font-weight: 500;
    margin-left: 40px;
    text-transform: uppercase;
}
.barra-navegacion > a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--gris-negro);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;

}
.barra-navegacion > a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
/*LOGO*/
.logo{
    width: 100px;
    border-radius: 50%;
    border: 2px solid var(--gris-blanco-claro);
}
/*BOTONES*/
.contenedor-botones{
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}
.boton-usuario{
    padding: 1.1rem;
    border-radius: 5px;
    background: var(--celeste-ocuro);
    border: 2px solid var(--negro);
    color: var(--blanco);
}
