/*------------------------FUENTE LETRA----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*---------------------------GENERAL-----------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
a{
    color: unset;
    text-decoration: none;
}
ul{
    list-style: none;
}
/*---------------------------COLORES----------------------*/
:root{
    /*negreo,grises,celeste*/
    --negro: #0D0D0D;
    --gris-negro: #262626;
    --gris: #595959;
    --gris-blanco: #8C8C8C;
    --gris-blanco-claro: #A6A6A6;
    --blanco: #FFFFFF;
    --celeste: #C4ECFF;
    --celeste-claro: #DEF5FF;
    --celeste-ocuro: #78A0B3;
    --sombra: rgba(0, 0, 0, 0.2);
}
/*---------------HEADER--------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--gris-blanco-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px 1px var(--sombra);
}
/*LOGO*/
.logo{
    width: 100px;
    border-radius: 50%;
    border: 2px solid var(--negro);
}
/*-BARRA NAVEGACIÓN-*/
.barra-navegacion{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-navegacion > a{
    position: relative;
    font: 1.1em;
    color: var(--negro);
    font-weight: 500;
    margin-left: 40px;
    text-transform: uppercase;
}
.barra-navegacion > a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--blanco);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;

}
.barra-navegacion > a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
/*BOTONES*/
.contenedor-botones{
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}
.boton-usuario{
    position: relative;
    padding: 1.1rem;
    border-radius: 5px;
    background: var(--gris);
    border: 2px solid var(--negro);
    color: var(--blanco);
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}
.boton-usuario:hover{
    background: var(--gris-negro);
    color: var(--blanco);
}
.boton-usuario span{
    position: absolute;
    background: var(--blanco);
    transition: .5s;
}
.boton-usuario span:nth-child(1){
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
}
.boton-usuario span:nth-child(2){
    width: 100%;
    height: 3px;
    bottom: 0;
    right: -100%;
}
.boton-usuario span:nth-child(3){
    width: 3px;
    height: 100%;
    bottom: -100%;
    left: 0;
}
.boton-usuario span:nth-child(4){
    width: 3px;
    height: 100%;
    top: -100%;
    right: 0;
}
.boton-usuario:hover span:nth-child(1){
    left: 0;
}
.boton-usuario:hover span:nth-child(2){
    right: 0;
}
.boton-usuario:hover span:nth-child(3){
    bottom: 0;
}
.boton-usuario:hover span:nth-child(4){
    top: 0;
}
/*MENU HAMBURGUESA*/
.menu-hamburguesa{
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;
}
.menu-hamburguesa span{
    width: 100%;
    height: 5px;
    background: var(--negro);
    display: block;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.7s, width 0.5s;
}
.li1{
    transform: translate(-50%,-15px);
}
.li2{
    transform: translate(-50%,-50%);
}
.li3{
    transform: translate(-50%,10px);
}
/*MENU HAMBURGUESA ANIMACION*/
.activo .li1{
    transform: translate(-50%,-15px)rotate(45deg);
}
.activo .li2{
    width: 0;
}
.activo .li3{
    transform: translate(-50%,-15px)rotate(-45deg);
}

/*---------------MAIN--------------------*/
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.seccion-informacion{
    width: 100%;
    height: 100vh;
    background: var(--celeste-claro);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*TITULO*/
.titulo{
    font-size: 2rem;
}

/*---------------MEDIA QUERY--------------------*/
/*HEADER*/
@media (max-width: 768px){
    .header{
        background: var(--background-color);
    }
}